{% load static %} 
<footer class="footer">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">
                <a href="#Desenvolvedor=CB_PM_162131-9_Bruno_Alves_#Email=bruno6821@gmail.com">Made with Python and Django</a>
                <span class="d-none d-sm-inline-block">| </span>
                <br class="d-sm-none" /> 2023 &copy; 
                <a href="http://www.intranet2.dp.policiamilitar.sp.gov.br/" target="_blank">Diretoria de Pessoal</a>  
                <a class="text-danger fw-bold" href="" 
                target="_blank"></a>
            </p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v.0.2.2</p>
        </div>
    </div>
</footer>