<div class="col-6 mx-2 position-absolute top-50 start-50 translate-middle">
    <form action="{% url 'administration:navbar_search' %}">
        <div class="input-group ">
            <input class="form-control" type="search" 
                placeholder="Digite um RE ou Palava chave"
                name="query"
            />        
            <span class="input-group-text" >
                <span class="font-sans-serif fw-bold" style="color: #4285F4;">Cha</span>
                <span class="font-sans-serif fw-bold" style="color: #EA4335;">ma</span>
                <span class="font-sans-serif fw-bold" style="color: #FBBC05;">do</span>
                <span class="font-sans-serif fw-bold" style="color: #FBBC05;;">o</span>
                <span class="font-sans-serif fw-bold" style="color: #4285F4;">g</span>
                <span class="font-sans-serif fw-bold" style="color: #34A853;">l</span>
                <span class="font-sans-serif fw-bold" style="color: #EA4335;">e</span>
            </span>
        </div>
    </form>
</div> 