{% load static %} 
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'vendors/typed.js/typed.js' %}"></script>
<script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script src="{% static "vendors/countup/countUp.umd.js" %}"></script>

<script src="{% static "vendors/list.js/list.min.js" %}"></script>

<!-- CSRF request in the headers -->
<script src="https://unpkg.com/htmx.org@1.7.0"></script>