{% extends 'baselogin.html' %}
{% load static %}
{% block baselogin %}


<div class="container-fluid">
	<div class="row min-vh-100 bg-100">
		<div class="col-6 d-none d-lg-block position-relative">
			<div class="bg-holder" style="background-image:url({% static 'img/generic/20.jpg' %});"></div>
			<!--/.bg-holder-->
		</div>
		<div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
			<div class="row justify-content-center g-0">
				<div class="col-lg-9 col-xl-8 col-xxl-6">
					<div class="card">
						<div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light" href="../../../index-2.html">Chamado-DP</a></div>
						<div class="card-body p-4">
							<h3 class="text-center">Resetar Senha</h3>
							<form class="mt-3">
								<div class="mb-3"><label class="form-label" for="split-reset-password">Nova Senha</label><input class="form-control" type="password" id="split-reset-password"></div>
								<div class="mb-3"><label class="form-label" for="split-reset-confirm-password">Confirmar Senha</label><input class="form-control" type="password" id="split-reset-confirm-password"></div>
								<button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Salvar e ir para Login</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock baselogin %}
