
  {% if messages %}
  <hr>
		{% for message in messages %}
			<div class="card mb-3 {{ message.tags }}">
				<div class="card-body {{ message.tags }}">
					<div class="row justify-content-between align-items-center">
						<div class="col-md">
							<h5 class="mb-2 mb-md-0 text-center {% if message.tags %} {{ message.tags }} {% endif %} "> 
								{{ message }}                  
							<span class="ms-1 far fa-check-circle" data-fa-transform="shrink-2"></span>
							</h5>
						</div>        
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
  
  {% for notification in query %}
    {% if notification.user_has_archive == 0 %}
      {% if notification.user_has_seen == 1%}
      <div class="hover-actions-trigger ">
        <a class="border-bottom-0 notification rounded-0 border-x-0 border-300"  
          {% if notification.Solicitacao.id %}
            href="{% url 'notifications:post-notification' notification.id notification.Solicitacao.id %}"          
          {% elif notification.BlogPost.SlugBlog %}
            href="{% url 'help_pages:blog-notification' notification.pk  notification.BlogPost.SlugBlog|title %}"
          {% elif notification.NovoUser.id %}
            href="{% url 'accounts:user-notification' notification.id notification.NovoUser.id %}"
          {% endif %}
          >
          <div class="notification-avatar text-center align-self-center">
            <div class="avatar avatar-xl me-3 ">
              <span class=" mb-0 me-3 fs-3 fas fa-check-double text-primary"></span>
            </div> 
          </div>
          <div class="notification-body">
            <p class="mb-1">        
              
              <span class="fw-bold font-sans-serif">{{notification.from_user.first_name}} {{notification.from_user.last_name}}</span>
              {% if notification.TipoNotificacao_id == 1 %}
                  <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}:</strong>          
              {% elif notification.TipoNotificacao_id == 2 %}
                  <strong class="badge rounded-pill badge-soft-warning fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 3 %}
                  <strong class="badge rounded-pill badge-soft-danger fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 4 %}
                <strong class="badge rounded-pill badge-soft-primary fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 5 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 6 %}
                <strong class="badge rounded-pill badge-soft-info fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 7 %}
                <strong class="badge rounded-pill badge-soft-dark fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 8 %}
                <strong class="badge rounded-pill badge-soft-dark fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 9 %}
                <strong class="badge rounded-pill badge-soft-info fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 10 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 11 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}</strong>
              {% elif notification.TipoNotificacao_id == 12 %}
                <strong class="badge rounded-pill badge-soft-info fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 13 %}
                <strong class="badge rounded-pill badge-soft-danger fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% endif %}          
              
              {% if notification.BlogPost != None %}
              <p>{{notification.BlogPost}}</p>
              {% endif %}
              {% if notification.Solicitacao != None %}
                <p><b>Titulo do Chamado: </b>{{notification.Solicitacao.TituloDaSolicitacao}}</p> 
                     
              {% endif %} 
              {% if notification.RespostaAdmin  != None %}
              <p>{{notification.RespostaAdmin|safe}}</p>
              {% endif %} 
              {% if notification.RespostaUser != None %}
              <p>{{notification.RespostaUser|safe}}</p>
              {% endif %}  
            </p>

            <span class="notification-time p-0 mb-0">          
              <span class=" p-0 mb-0 fs--1 far fa-clock text-secondary"></span>
              {{notification.whenpublished}}
            </span>
            <span class="fs-0">
              {% if notification.Solicitacao.id %}
                <span class="fw-bold">
                  <span class="badge badge-soft-dark text-end">Chamado N°: {{notification.Solicitacao.id}}</span>
                </span>
              {% elif notification.BlogPost.id %}
                <span class="fw-bold">
                  <span class="badge badge-soft-info text-end">Postagem: {{notification.BlogPost.CategoriaBlog}}</span>
                </span>
              {% elif notification.NovoUser.id %}
                <span class="fw-bold">
                  <span class="badge badge-soft-info text-end">Novo Usuário Criado</span>
                </span>
              {% endif %}
            </span> 
          </div>
          <div class="position-absolute bottom-0 end-0">
            <p class=" mt-0 mb-3 m-2">            
              {% if notification.Solicitacao.StatusAtual_id == 1 %}
                  <span class="text-end badge bg-danger fs-1 fw-bold">PENDENTE</span>
                {% elif notification.Solicitacao.StatusAtual_id == 2 %}
                  <span class="text-end badge bg-warning fs-1 fw-bold">EM ANÁLISE</span>
                {% elif notification.Solicitacao.StatusAtual_id == 3 %}
                  <span class="text-end badge bg-success fs-1 fw-bold">RESOLVIDO</span>
                {% elif  notification.Solicitacao.StatusAtual_id == 4 %}
                  <span class="text-end badge bg-info fs-1 fw-bold">RESOLVIDO E FECHADO</span>
                {% elif notification.Solicitacao.StatusAtual_id == 5 %}
                  <span class="text-end badge bg-secondary fs-1 fw-bold">REABERTO</span>
                {% else %}
              {% endif %}            
            </p>
          </div>       
        </a>
      
        <div class="btn-group  z-index-2 hover-actions end-0 me-3 shadow position-absolute bottom-50 end-0">
          <a class="btn btn-light fs--2" type="button"
          hx-post="{% url 'notifications:mark_archive' notification.id %}"
          hx-target="#list_partial">
            <span class="fas fa-archive"></span>
            Arquivar
          </a>
          {% if notification.TipoNotificacao_id == 7 %}
          {% else %}
          <a class="btn btn-light fs--2" type="button"
          hx-post="{% url 'notifications:delete_notification' notification.pk %}"
          hx-target="#list_partial">
            <span class="fas fa-trash-alt"></span> Deletar
          </a>
          <a class="btn btn-light fs--2" type="button"
          href="{% url 'notifications:mark_as_unread' notification.id %}">
            <span class="fas fa-envelope"></span> Não Lida
          </a> 
          {% endif %}                 
        </div>                   
      </div>


      {% else %}
      <div class="hover-actions-trigger ">
        <a class="border-bottom-0 notification rounded-0 border-x-0 border-300 notification-unread"  
          {% if notification.Solicitacao.id %}
            href="{% url 'notifications:post-notification' notification.id notification.Solicitacao.id %}"
          {% elif notification.BlogPost.SlugBlog %}
            href="{% url 'help_pages:blog-notification' notification.pk  notification.BlogPost.SlugBlog|title %}"
          {% elif notification.NovoUser.id %}
            href="{% url 'accounts:user-notification' notification.id notification.NovoUser.id %}"
          {% endif %}
          >  
          <div class="notification-avatar text-center align-self-center">
            <div class="avatar avatar-xl me-3">
              <span class="align-middle text-center mb-0 me-3 fs-3 fas fa-check-double text-secondary"></span>
            </div>
          </div> 
          <div class="notification-body">
            <p class="mb-1">        
            
              <span class="fw-bold font-sans-serif">{{notification.from_user.first_name}} {{notification.from_user.last_name}}</span>
              {% if notification.TipoNotificacao_id == 1 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}:</strong> 
              {% elif notification.TipoNotificacao_id == 2 %}
                  <strong class="badge rounded-pill badge-soft-warning fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 3 %}
                  <strong class="badge rounded-pill badge-soft-danger fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 4 %}
                <strong class="badge rounded-pill badge-soft-primary fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 5 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 6 %}
                <strong class="badge rounded-pill badge-soft-info fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 7 %}
                <strong class="badge rounded-pill badge-soft-dark fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 8 %}
                <strong class="badge rounded-pill badge-soft-dark fs--2">{{notification.TipoNotificacao|upper}}:</strong>
                {% elif notification.TipoNotificacao_id == 9 %}
                <strong class="badge rounded-pill badge-soft-info fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 10 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 11 %}
                <strong class="badge rounded-pill badge-soft-success fs--2">{{notification.TipoNotificacao|upper}}</strong>
              {% elif notification.TipoNotificacao_id == 12 %}
                <strong class="badge rounded-pill badge-soft-info fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% elif notification.TipoNotificacao_id == 13 %}
                <strong class="badge rounded-pill badge-soft-danger fs--2">{{notification.TipoNotificacao|upper}}:</strong>
              {% endif %}          
              
              {% if notification.BlogPost != None %}
              <p>{{notification.BlogPost}}</p>
              {% endif %}
              {% if notification.Solicitacao != None %}
              <p><b>Titulo do Chamado: </b>{{notification.Solicitacao.TituloDaSolicitacao}}</p> 
                    
              {% endif %} 
              {% if notification.RespostaAdmin  != None %}
              <p>{{notification.RespostaAdmin|safe}}</p>
              {% endif %} 
              {% if notification.RespostaUser != None %}
              <p>{{notification.RespostaUser|safe}}</p>
              {% endif %}  
            </p>

              <span class="notification-time mb-0">
                <span class=" mb-0 fs--1 far fa-clock text-secondary"></span>
                {{notification.whenpublished}}
              </span>

              <span class="fs-0">
                {% if notification.Solicitacao.id %}
                  <span class="fw-bold">
                    <span class="badge badge-soft-dark text-end">Chamado N°: {{notification.Solicitacao.id}}</span>
                  </span>
                {% elif notification.BlogPost.id %}
                  <span class="fw-bold">
                    <span class="badge badge-soft-info text-end">Postagem: {{notification.BlogPost.CategoriaBlog}}</span>
                  </span>
                {% elif notification.NovoUser.id %}
                  <span class="fw-bold">
                    <span class="badge badge-soft-info text-end">Novo Usuário Criado</span>
                  </span>
                {% endif %}
              </span>
            </div> 
            <div class="position-absolute bottom-0 end-0">
              <p class=" mt-0 mb-3 m-2">            
                {% if notification.Solicitacao.StatusAtual_id == 1 %}
                    <span class="text-end badge bg-danger fs-1 fw-bold">PENDENTE</span>
                  {% elif notification.Solicitacao.StatusAtual_id == 2 %}
                    <span class="text-end badge bg-warning fs-1 fw-bold">EM ANÁLISE</span>
                  {% elif notification.Solicitacao.StatusAtual_id == 3 %}
                    <span class="text-end badge bg-success fs-1 fw-bold">RESOLVIDO</span>
                  {% elif  notification.Solicitacao.StatusAtual_id == 4 %}
                    <span class="text-end badge bg-info fs-1 fw-bold">RESOLVIDO E FECHADO</span>
                  {% elif notification.Solicitacao.StatusAtual_id == 5 %}
                    <span class="text-end badge bg-secondary fs-1 fw-bold">REABERTO</span>
                  {% else %}
                {% endif %}            
              </p>
            </div>       
        </a> 
       
        <div class="btn-group z-index-2 hover-actions end-0 me-3 shadow position-absolute bottom-50 end-0">
          {% if notification.TipoNotificacao_id == 7 %}
          <a 
            class="btn btn-light fs--2 z-index-10" type="button"             
            href="{% url 'notifications:post-notification' notification.id notification.Solicitacao.id %}"
            >          
            <span class="fas fa-envelope-open-text"></span>
             Ir para Resposta
          </a>          
          {% else %}          
          <a 
            class="btn btn-light fs--2 z-index-10" type="button"             
            href="{% url 'notifications:mark_as_read' notification.id %}"
            >          
            <span class="fas fa-envelope-open"></span>
             Marcar como lida
          </a>
          {% endif %}        
        </div>        
      </div>

        {% endif %} 
    {% endif %} 
  {% endfor %}

  
  {% if query.has_next %}
    <div 
    hx-get="{% url 'notifications:partial_notifications' %}?page={{ query.next_page_number }}"
    hx-trigger="revealed"
    hx-swap="afterend"
    hx-target="this">
    </div>
  {% else %}
    <h1 class="text-center align-self-center mt-5 mb-5">Exibindo todos os Registros</h1> 
  {% endif %}

